<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Generate QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-justify margin-card">
    To generate the QR Code is posible use the site
    <a href="#" onclick="window.open('https://www.qr-code-generator.com/', '_system', 'location=yes'); return false;">
      QR Code Generator
    </a>.
    The next image is an example to use Code Generator. In that example "HTML5", "CSS3", "JavaScript", and "TypeScript" are the values to get from code, "#MySeparator#" is the string to use for apply the split function.
  </div>
  <div>
    <ion-card>
      <ion-card-content class="margin-card">
        <ion-img src="/assets/codeGenerator.jpg"></ion-img>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
