<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      QR Code Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tab3-container-main">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="8" class="tab3-language-category">
              Markup Language:
            </ion-col>
            <ion-col size="4">
              {{language.markupLanguage}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" class="tab3-language-category">
              Style Sheets:
            </ion-col>
            <ion-col size="4">
              {{language.styleSheets}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" class="tab3-language-category">
              Script Language:
            </ion-col>
            <ion-col size="4">
              {{language.scriptLanguage}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" class="tab3-language-category">
              Strong Typing:
            </ion-col>
            <ion-col size="4">
              {{language.strongTyping}}
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <div class="ion-text-center">
      <ion-button color="primary" (click)="readQrCode()" class="ion-text-capitalize">
        Read QR Code
      </ion-button>
    </div>
  </div>
</ion-content>
